<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:sqlite.db</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class = "niewidzialny84.github.rental.entity.Car"/>
        <mapping class = "niewidzialny84.github.rental.entity.Client"/>
        <mapping class = "niewidzialny84.github.rental.entity.RentedCar"/>
    </session-factory>
</hibernate-configuration>